<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="Your_Webapp_ID" version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <display-name>Mossad Web Module</display-name>
  <!-- Filter configuration -->
  <filter>
    <description>This filter prevents authenticated users from accesing the login form</description>
    <filter-class>com.mossad.login.AlreadyLoggedInFilter</filter-class>
    <filter-name>alreadyLoggedInFilter</filter-name>
    <init-param>
      <param-name>target</param-name>
      <param-value>my/home.jsf</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <filter-name>alreadyLoggedInFilter</filter-name>
    <url-pattern>/login.jsf</url-pattern>
  </filter-mapping>
  <!--    JSF configuration-->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-error-page>/login.jsf?error=true</form-error-page>
      <form-login-page>/login.jsf</form-login-page>
    </form-login-config>
    <realm-name>file</realm-name>
  </login-config>
  <security-constraint>
    <auth-constraint>
      <description/>
      <role-name>USER</role-name>
    </auth-constraint>
    <display-name>OnlyUsers</display-name>
    <web-resource-collection>
      <description/>
      <url-pattern>/my/*</url-pattern>
      <web-resource-name>Pages visible after sign in</web-resource-name>
    </web-resource-collection>
  </security-constraint>
  <!--    security configuration-->
  <security-constraint>
    <auth-constraint>
      <description>Only Let ADMINs access XHTML pages</description>
      <role-name>ADMIN</role-name>
    </auth-constraint>
    <display-name>Restrict XHTML Documents</display-name>
    <web-resource-collection>
      <url-pattern>*.xhtml</url-pattern>
      <web-resource-name>XHTML</web-resource-name>
    </web-resource-collection>
  </security-constraint>
  <security-role>
    <role-name>USER</role-name>
  </security-role>
  <servlet>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <servlet-name>Faces Servlet</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <session-config>
    <!--        one week in minutes = 10080 -->
    <session-timeout>10080</session-timeout>
  </session-config>
</web-app>
