name: 'Kisonar JEE CI'

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: GitHub checkout action
        uses: actions/checkout@v3
      - name: Setup Java 18
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '18.0.2+9'
      - name: Run the Maven verify phase
        run: mvn clean install versions:display-plugin-updates versions:display-dependency-updates dependency:analyze-report dependency:analyze-dep-mgt dependency:analyze-duplicate